<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UserService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>sevlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>sevlet.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>sevlet.Register_Run</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBook</servlet-name>
    <servlet-class>sevlet.getBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBook</servlet-name>
    <url-pattern>/Searchbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadBook</servlet-name>
    <servlet-class>sevlet.LoadAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadBook</servlet-name>
    <url-pattern>/LoadAllBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFile</servlet-name>
    <servlet-class>sevlet.GetTextFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFile</servlet-name>
    <url-pattern>/BookFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAdvertise</servlet-name>
    <servlet-class>sevlet.GetAdvertise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdvertise</servlet-name>
    <url-pattern>/Advertise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRecommende</servlet-name>
    <servlet-class>sevlet.getrecommende</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecommende</servlet-name>
    <url-pattern>/Recommende</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTypeSearch</servlet-name>
    <servlet-class>sevlet.getTypeSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTypeSearch</servlet-name>
    <url-pattern>/TypeSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserIfo</servlet-name>
    <servlet-class>sevlet.getUserIfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserIfo</servlet-name>
    <url-pattern>/GetIfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpUser_name</servlet-name>
    <servlet-class>sevlet.Upname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpUser_name</servlet-name>
    <url-pattern>/up_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpUser_head</servlet-name>
    <servlet-class>sevlet.Uphead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpUser_head</servlet-name>
    <url-pattern>/headup</url-pattern>
  </servlet-mapping>
</web-app>